.feed {
    background-color: #ffffff;
    width: 100%;
    max-width: 794px;
    margin: 0 auto;
    position: relative;
    height: auto;
    padding-bottom: 30px;
}
.story-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 700px;
    margin: 30px;
    margin-left: -70px;
}

.feed-frame {
    position: relative;
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    height: auto;
}

.feed-post-videos {
    background-color: black;
}

.feed-post-photos {
    position: relative;
}

.feed-post-photo,
.feed-post-video {
    width: 100%;
    height: 624px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    background-color: black;
}

.feed-post-photo.tall,
.feed-post-video.tall {
    object-fit: cover;
    background-color: black;
}

.feed-post-photo.wide,
.feed-post-video.wide {
    object-fit: contain;
    background-color: black;
}

.feed-post-video.wide {
    height: auto;
}

.feed-post-video.tall {
    width: auto;
    height: 624px;
}

.feed-info {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feed-user-info {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
}

.feed-profile-img {
    background-color: #d9d9d9;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.feed-writer-div {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.feed-writer-info {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.feed-writer-name,
.feed-writer-date {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.feed-writer-date {
    color: rgb(115, 115, 115);
    font-size: 15px;
    font-weight: 500;
}

.feed-user-follow,
.feed-user-following {
    font-family: "Inter-Bold", Helvetica;
    width: auto;
    border: none;
    background-color: white;
    color: #00a3ff;
    font-size: 15px;
}

.feed-location {
    color: rgb(115, 115, 115);
    font-family: "Inter", Helvetica;
    font-size: 13px;
    font-weight: 400;
    white-space: nowrap;
    flex-basis: 100%;
}

.feed-more {
    margin-bottom: 0px;
}

.feed-more-btn {
    background-color: white !important;
    border: none;
    cursor: pointer;
}

.feed-more-img {
    height: 30px;
    width: 30px;
}

.feed-active {
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed-active-btn {
    display: flex;
    gap: 17px;
}

.bookmark-img {
    height: 24px;
    width: 24px;
    cursor: pointer;
    margin-left: auto;
}

.heart_img.liked {
    width: 24px;
    height: 24px;
}

.feed-post-info {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;
    padding: 16px 0;
}

.feed-heart-count {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 15.3px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    width: fit-content;
}

.feed-post-content {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 13.8px;
    letter-spacing: 0;
    line-height: normal;
    width: 100%;
    white-space: pre-wrap;
}
.feed-post-content-writer {
    font-size: 15px;
    font-weight: 600;
}

.feed-post-contents {
    font-size: 16px;
}

.feed-post-content-hashtags {
    color: rgb(20, 54, 103);
    font-size: 16px;
}

.feed-post-more {
    color: rgb(114, 114, 114);
}

.feed-comment-more {
    color: rgb(114, 114, 114);
    font-family: "Inter", Helvetica;
    font-size: 15.3px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -10px;
    cursor: pointer;
}

.feed-comment {
    border-bottom: 1px solid rgb(214, 214, 214);
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    padding: 8px 0;
}

.feed-comment-input {
    color: rgb(114, 114, 114);
    font-family: "Inter", Helvetica;
    font-size: 15.3px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
    border: none !important;
    outline: none !important;
    width: 90%;
}

.feed-comment-regi {
    color: rgb(65, 147, 239);
    font-size: 15.3px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: end;
    width: 10%;
}

@media (max-width: 1000px) {
    .feed {
        width: calc(100% - 30px);
        left: 50%;
        transform: translateX(-50%);
    }
}

.feed-slider-button-prev,
.feed-slider-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 4;
}

.feed-slider-button-prev {
    left: 10px;
}

.feed-slider-button-next {
    right: 10px;
}
