.feed-story-list {
    display: flex;
    padding: 10px;
    overflow-x: scroll;
}
.feed-story-profile-wrapper {
    position: relative;
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.feed-story-profile-image {
    border: 2px solid black;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.feed-story-upload-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
    background: #00a3ff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 16px;
}

.feed-story-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    position: relative;
}

.feed-story-image-wrapper {
    background: linear-gradient(
        to right,
        #fd1d1d,
        #fcb045,
        #833ab4
    ); 
    border-radius: 50%;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feed-story-image {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    border: 2px solid transparent; 
    object-fit: cover; 
    background: white;
}

.feed-story-image:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: radial-gradient(circle at bottom left, #f58529 20%, #c42d91);
    z-index: -1;
}

.feed-story-username {
    margin-top: 5px;
    font-size: 12px;
    color: #262626;
}
