.explore {
    background-color: #ffffff;
    width: 100%;
    max-width: 794px;
    margin: 0 auto;
    position: relative;
    height: auto;
}

.explore-frame {
    position: relative;
    top: 30px;
    width: 1130px;
    height: auto;
}

.explore-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.explore-grid-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 365px;
    width: 100%;
    background: black;
}

.explore-grid-image, .explore-grid-video {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.explore-grid-item-video {
    grid-column: span 1;
    grid-row: span 2;
    height: 730px; 
}

.explore-grid-item:hover .explore-grid-image, .explore-grid-item:hover .explore-grid-video {
    transform: scale(1.2);
}

.explore-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    flex-direction: column;
}

.explore-grid-item:hover .explore-overlay {
    opacity: 1;
}

.explore-info {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.2rem;
}

.explore-overlay .explore-info span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore-overlay .explore-info img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

@media (max-width: 1100px) {
    .explore-grid-container {
        grid-template-columns: repeat(2, 1fr);
        width: 780px;
    }
    .explore-grid-item-video {
        grid-column: span 1;
        grid-row: span 2;
        height: 730px;
    }
}

@media (max-width: 768px) {
    .explore-grid-container {
        grid-template-columns: 1fr;
        width: 568px;
    }
    .explore-grid-item-video {
        grid-column: span 1;
        grid-row: span 1;
        height: 365px; 
    }
}
