.login-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
}

.login-form {
    border: 1px solid #dbdbdb;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    max-width: 380px;
    width: 100%;
}

.login-header {
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.login-form-group {
    margin-bottom: 20px;
}

.login-input-email,
.login-input-password{
    width: 100%;
    max-width: 320px;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-submit{
    width: 100%;
    max-width: 320px;
    padding: 10px;
    border: none;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #7ab3f4;
}

.login-error-message{
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    color: #ff0000;
}

.or-separator {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.or-text {
    margin: 0 20px;
    color: #8e8e8e;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #dbdbdb;
}

a {
    text-decoration: none;
    color: #3d5081;
}

.social-login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.social-login-wrapper img {
    width: 45px;
    height: auto;
    border-radius: 50%;
    margin-right: 5px;
}

.forgot-password {
    font-size: 13px;
    margin-top: 25px;
    margin-bottom: -5px;
    text-align: center;
}

.signup-section {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    max-width: 370px;
}

.signup-box {
    border: 1px solid #dbdbdb;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
}

.signup-link {
    color: #4193ef;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.signup-link:hover {
    color: #4193ef;
}

