.friendnav {
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    position: relative;
}

.friendnav-user-profile-image,
.friendnav-profile-image {
    border-radius: 50%;
    height: 53px;
    width: 53px;
    object-fit: cover;
    
}

.friendnav-user-info {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
}

.friendnav-user-profile {
    margin-left: 10px;
}

.friendnav-user-profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.friendnav-user-email {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 13.6px;
    font-weight: 700;
}

.friendnav-user-name {
    color: #afafaf;
    font-family: "Inter", Helvetica;
    font-size: 13.6px;
    font-weight: 500;
}

.friendnav-logout {
    margin-left: auto;
    cursor: pointer;
}

.friendnav-logout-btn {
    color: #00a3ff;
    font-family: "Inter", Helvetica;
    font-size: 13.6px;
    font-weight: 700;
}

.friendnav-recommend-user-email {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 13.6px;
    font-weight: 700;
}

.friendnav-item-div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.friendnav-recommend-user-text {
    color: #afafaf;
    font-family: "Inter", Helvetica;
    font-size: 13.6px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
}

.friendnav-recommend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.friendnav-recommend-wrapper {
    display: flex;
    align-items: center;
}

.friendnav-recommend-text {
    display: flex;
    align-items: center;
}

.friendnav-all-text-wrapper {
    display: flex;
    align-items: center;
}

.friendnav-all-text {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 13.6px;
    font-weight: 700;
    cursor: pointer;
}

.friendnav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.friendnav-item-list {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.friendnav-image-wrapper {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.friendnav-following-btn,
.friendnav-follow-btn {
    width: 70px;
    font-family: "Inter", Helvetica;
    font-size: 13.6px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.friendnav-following-btn {
    background-color: #cbcaca;
}

.friendnav-follow-btn {
    background-color: #00a3ff;
    color: #fff;
}
