.messageroom-container {
    background-color: #fff;
    position: fixed;
    left: 550px;
    top: 0;
    height: 100vh;
    width: calc(100vw - 550px);
    border-left: 1px solid rgb(237, 237, 237);
    display: flex;
    flex-direction: column;
}

.messageroom-no-message-container {
    background-color: #fff;
    position: fixed;
    left: 550px;
    top: 0;
    height: 100vh;
    width: calc(100vw - 550px);
    border-left: 1px solid rgb(237, 237, 237);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.messageroom-no-message-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.messageroom-no-message-wrapper h2 {
    font-weight: 400;
}

.messageroom-no-message-wrapper p {
    color: rgb(115, 115, 115);
}

.messageroom-no-message-btn {
    padding: 10px 15px;
    background-color: rgb(65, 147, 239);
    border-radius: 10px;
    width: auto;
    font-weight: 600;
}

.messageroom-user-container {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgb(239, 239, 239);
    flex-shrink: 0;
}

.messageroom-profile-image {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

.messageroom-user-name-one {
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
}

.messageroom-scroll-section {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 100px;
    transition: margin-bottom 0.3s ease;
}

.messageroom-scroll-section.image-selected {
    margin-bottom: 150px;
}

.messageroom-profile-info {
    margin-left: auto;
}

.messageroom-user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    flex-shrink: 0;
}

.messageroom-user-info-profile-image {
    width: 80px;
    height: 80px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.messageroom-user-info-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.messageroom-user-info-status {
    font-size: 12px;
    color: #666;
    margin-bottom: 10px;
}

.messageroom-profile-btn {
    width: 100px;
    background-color: rgb(239, 239, 239);
    color: black;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.messageroom-dm-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

.messageroom-dm-container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.messageroom-dm-container.sent {
    justify-content: flex-end;
}

.messageroom-dm-container.received {
    justify-content: flex-start;
}

.messageroom-dm {
    display: flex;
    align-items: center;
    max-width: 70%;
    padding: 10px 15px;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    word-break: break-word;
}

.messageroom-dm.sent {
    background-color: rgb(83, 149, 233);
    align-self: flex-end;
    margin-left: auto;
}

.messageroom-dm.received {
    background-color: rgb(239, 239, 239);
    color: black;
    align-self: flex-start;
    margin-right: auto;
}

.messageroom-dm-profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.messageroom-dm-content-wrapper {
    display: flex;
    flex-direction: column;
}

.messageroom-dm-image {
    max-width: 100px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.messageroom-dm-content {
    margin-top: 5px;
}

.messageroom-input-section {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    bottom: 20px;
    left: calc(550px + 20px);
    right: 20px;
    background-color: white;
    z-index: 1;
    height: auto;
}

.messageroom-selected-image-container {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-start;
    margin-bottom: 10px;
    gap: 15px;
}

.messageroom-selected-image-wrapper {
    position: relative;
    display: inline-block;
}

.messageroom-selected-image-preview {
    width: 65px;
    height: 65px;
    border-radius: 5px;
    object-fit: cover;
}

.messageroom-selected-image_icon-wrapper {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 5px;
}

.messageroom-selected-image_icon {
    width: 40px;
    height: 40px;
}

.messageroom-remove-image-btn {
    position: absolute;
    top: 5px;
    left: 65px;
    transform: translate(-50%, -50%);
    background: none;
    width: 20px;
    border: 1px solid black;
    font-weight: 1000;
    border-radius: 50%;
    font-size: 15px;
    color: black;
    cursor: pointer;
    padding: 1px;
}

.messagerooom-input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.messageroom-smile_icon,
.messageroom-close_icon,
.messageroom-mic_icon,
.messageroom-image_icon {
    width: 30px;
    height: 30px;
    margin: 0px 10px;
    cursor: pointer;
}

.messagerooom-input-message {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
}

.messageroom-send-dm {
    width: auto;
    height: auto;
    margin-left: 10px;
    color: #4285f4;
    background: none;
    cursor: pointer;
}

.audio-recording {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.audio-recording-bar {
    flex-grow: 1;
    height: 40px;
    background-color: rgb(57, 130, 247);
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.audio-recording-bar-fill {
    height: 100%;
    background-color: rgb(97, 155, 249);
    transition: width 1s;
}

.audio-recording-stop-button {
    position: absolute;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
}

.audio-recoring-stop-button-img,
.custom-audio-play-icon {
    width: 30px;
    height: 30px;
}

.audio-recording-time {
    position: absolute;
    right: 10px;
    color: white;
    font-weight: bold;
}

.audio-preview {
    display: flex;
    flex-grow: 1;
    font-size: 16px;
    align-items: center;
}

.audio-preview-styled {
    width: 100%;
}

/* CustomAudioPlay */
.custom-audio-play-bar {
    flex-grow: 1;
    height: 40px;
    background-color: rgb(57, 130, 247);
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.custom-audio-play-bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    width: 0;
}

.custom-audio-play-button {
    z-index: 1;
    position: absolute;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
}

.custom-audio-play-time {
    position: absolute;
    right: 10px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}