.app {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%;
}

.app-main-wrapper {
  background-color: #ffffff;
  /* height: 100vh; */
  overflow: hidden;
  position: relative;
  width: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; 
  gap: 20px; 
}

.main-container {
  grid-column: 2 / 11;
  display: flex;
  flex-direction: column;
}

/* 吏��곗� 留� 寃� */
button {
  width: 100%;
  padding: 10px;
  background-color: #7ab3f4;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.feed-container, .friendfeed-container, .myfeed-container {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friend-nav-container {
  grid-column: 3 / 4;
}

/* 1080px �댄븯�먯꽌 friend-nav-container �④린湲� */
@media (max-width: 1080px) {
  .feed-container, .friendfeed-container, .myfeed-container{
      grid-column: 2 / 7;
  }
  .friend-nav-container {
      display: none;
  }
}

